<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Calvin Huynh&#39;s blog</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/carousel.css">
    <link rel="stylesheet" href="../stylesheets/layout.css">
    <link rel="stylesheet" href="../stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!--bootstrap javascript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--custom styles based off of the default carousel page-->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://pages.github.com/">GitHub Pages</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../index.html">Home</a></li>
            <li><a href="comp.html">Featured Projects</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="#">Summary</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="MG.html">Mobile Games</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Stuff to be added in the future</li>
                <li class="dropdown-header">Computer Games</li>
                <li><a href="#">Dungeon Fighter Online</a></li>
              </ul>
            </li>
          </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="wrapper">
       <header>
        <h1>Calvin Huynh&#39;s repository</h1>
        <hr>
        <p><h4>Backend developer, fontend developer, amatuer 3D Artist. A developer with many skills.</h4></p>
        <hr>
        <div class="links">
          <h5>GitHub Links</h5>
          <p class="view"><a href="https://github.com/ctdh24">View My GitHub Profile</a></p>

          <h5>Other Links</h5>
          <p class="view"><a href="https://www.linkedin.com/in/calvinhuynh">LinkedIn profile</a></p>
          <p class="view"><a href="https://sketchfab.com/arandomcalvin">SketchFab profile</a></p>
        </div>

      </header>
      <section>
        <h3>
          <a id="welcome-to-my-repository" class="anchor" href="#welcome-to-my-repository" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Welcome to a random blog!
        </h3>

        <p>Here I will sometimes blog about some games that I have been playing. I will be analyzing their mechanics and overall game feel as well as commentating on whether or not I find the game fun at all. I will try and not talk about their respective fandom/community as that is another topic entirely as it pertains to more about internet culture then it does about game design or programming.</p>
        <p>This blog will be slit into three main categoies: Mobile Gaming, Video Gaming, and Mechanics. In the Mobile Gaming and Video Gaming categories I will sometimes talk about some of the games that I have been playing on that respective medium and give my thoughts on them. The Mechanics category will cater to talking about the different mechanics in a certain genre and will be giving my thought on them.</p>
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p><small>
          <script language="Javascript"> document.write("This page was last modified on: " + document.lastModified +"");
          </SCRIPT>
        </small></p>
      </footer>
    </div>
    <script src="../javascripts/scale.fix.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../javascripts/jquery.min.js"><\/script>')</script>
    <script src="../dist/js/bootstrap.min.js"></script>
  </body>
</html>
